//custom-variables
$primary: #4CAF4F;
$secondary: #4D4D4D;
$dark: #717171;
$info: #89939E;
$warning: #263238;
$success: #F5F7FA;
//import bootstrap utilities
@import '../node_modules/bootstrap/scss/bootstrap'