html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  }
  .box {
    width: 50%;
  }
  
  @media (max-width: 576px) {
    .box {
      width: 100%;
    }
  }
  
  #grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    grid-template-rows: repeat(2, 1fr); /* Creates two equal-height rows */
    gap: 30px; /* Sets the gap between grid items */
  }
  #grid-item {
    text-align: center;
  }
  .social-icon{
    padding: 8px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ::placeholder { /* Most modern browsers support this now. */
    color:white;
 }
 #linkstyle:hover{
color: #4CAF4F;
 }
 a:active{
  color: #4CAF4F;
 }
 html{
  padding-right: 0px;
 }
